* {
	margin: 0;
	padding: 0;
}

body,html {
	height: 100%;
}


#mainBG {
	background: url(../images/back-2.png);
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

#name {
	text-shadow: 0px 4px 3px #222, 0px 5px 15px #444, 0px 8px 21px #555;
	font-size: 6rem;
	font-weight: 300;
	line-height: 1.6;
}

#quote {
	text-shadow: 0px 1px 3px #222, 0px -1px 3px #222,0px 1px 10px #222, 0px -1px 10px #222;
	font-size: 1.4rem;
}

.content {
	padding-top: 15%; 
}

.no-bg-tron {
	background: rgba(0,0,0,0);
}

@media screen and (max-width: 992px) {
    #name {
    	font-size: 2.5rem;
    }
}