@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Antic+Slab&display=swap');
@font-face {
    font-family: 'typicons';
    src: url("../webfont/typicons.eot");
    src: url("../webfont/typicons.eot?#iefix") format('embedded-opentype'),
         url("../webfont/typicons.woff") format('woff'),
         url("../webfont/typicons.ttf") format('truetype'),
         url("../webfont/typicons.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
}

html,body {
    height: 100%;
}

#particles-js {
    background: #E8790C;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: table; 
}

.inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.tags {
    font-family: 'Antic Slab', serif;
    line-height:2rem;
    color: #fff;
    margin: 1rem 0;
}


.tags span {
    padding: 0.2rem;
    margin: 0.2rem;
    text-align: center;
    background-color: #1A1F2B;
    color: #fff;
    font-weight: bold;
}


.white-wrap {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.2rem 0;
}

.jumbotron-none {
    padding: 0;
    background: none;
    color: #1A1F2B;
}



h1, p {
    color: #1A1F2B;

}

p, label {
    font-family: 'Antic Slab', serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

.img-profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 6px solid #fff;
    padding: 0.6rem;
    margin: 0.4rem;
    background-color: #1A1F2B;
}

.personal-info p {
    font-size: 1.5rem;
}

.links {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

.links .typcn {
    font-size: 4rem;
}

.links a {
    text-decoration: none;
    color: #1A1F2B;
    font-weight: bold;
}


.fbtn {
    background-color: #1A1F2B;
    color: #fff;
    font-weight: bold;
}

.fbtn:hover {
    transition: 0.2s ease-in all;
    background-color: rgba(0, 0, 0, 0);
    color: #1A1F2B;
    border: 1px solid #1A1F2B;
}

.project {
    margin-bottom: 0;
}

.projects h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.card {
    margin: 0.5rem 0;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body .btn {
    background-color: #1A1F2B;
    color: #fff;
    font-weight: bold;
}

.card-body .btn:hover {
    transition: 0.2s ease-in all;
    background-color: rgba(0, 0, 0, 0);
    color: #1A1F2B;
    border: 1px solid #1A1F2B;
}

.jumbotron {
    background-color: rgba(233, 236, 239,0.4);
}

.contact {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.about {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.about h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.about p {
    font-size: 1.2rem;
}

.header {
    padding: 0.4rem;
    margin: 0;
    background-color: #1A1F2B;
    color: #fff;
    font-weight: bold;
}


.head {
    font-size: 1.4rem;
    font-weight: bold;
}


.footer {
    padding-bottom: 0.2rem;
}

.foot {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {

    .display-3 {
        font-size: 2rem;
    }

    .display-4 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1rem;
    }

    .tags span {
        font-size: 0.7rem;
    }
    
    .links {
        width: 85%;
        margin: 0 auto;
    }

    .links .typcn {
        font-size: 2.5rem;
    }

    .about {
        border: none;
    }

    .foot {
        font-size: 0.6rem;
    }
  }