* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,html {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.Main-Container{
	width: 100%;
	height: 150%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.Main-Container-Slider{
	background-image: url(../images/back-2.png);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Main-Container-Slider_title{
	font-size: 2.5em;
	text-align: center;
	color: #fff;
}

.Main-Container-Slider_information{
	text-align: center;
	color: #fff;
}

.Main-Container-Content{
	margin: 1rem 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Main-Container-Content_subtitle{
	font-weight: bold;
	width: 100%;
	padding-left: 1em;
	font-size: 1.5em;
}

.Container{
	width: 80%;
}

.squareColor{
	background: rgba(0, 0, 0, 0.6);
	padding: 1rem;
}


#mainBG {
	background: url(../images/back-2.png);
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

#name {
	text-shadow: 0 4px 3px #222, 0 5px 15px #444, 0 8px 21px #555;
	font-size: 6rem;
	font-weight: 300;
	line-height: 1.6;
}

#quote {
	text-shadow: 0 1px 3px #222, 0 -1px 3px #222, 0 1px 10px #222, 0 -1px 10px #222;
	font-size: 1.4rem;
}

.content {
	padding-top: 15%; 
}

.no-bg-tron {
	background: rgba(0,0,0,0);
}

@media screen and (max-width: 992px) {
    #name {
    	font-size: 2.5rem;
    }
}